body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1252px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:24px;
  width:149px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:78px;
  width:333px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:46px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:122px;
  width:1145px;
  height:46px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:131px;
  width:313px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:133px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:227px;
  width:614px;
  height:295px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:62px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:120px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:62px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:0px;
  width:122px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:118px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:123px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:119px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:0px;
  width:123px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:119px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:62px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:0px;
  width:122px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:118px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:56px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:124px;
  height:56px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:120px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:56px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:62px;
  width:122px;
  height:56px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:118px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:56px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:62px;
  width:123px;
  height:56px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:119px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:56px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:62px;
  width:123px;
  height:56px;
  color:#0066FF;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:119px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:56px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:62px;
  width:122px;
  height:56px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:59px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:124px;
  height:59px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:120px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:59px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:118px;
  width:122px;
  height:59px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:59px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:118px;
  width:123px;
  height:59px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:59px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:118px;
  width:123px;
  height:59px;
  color:#0066FF;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:59px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:118px;
  width:122px;
  height:59px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:59px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:124px;
  height:59px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:120px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:59px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:177px;
  width:122px;
  height:59px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:59px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:177px;
  width:123px;
  height:59px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:59px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:177px;
  width:123px;
  height:59px;
  color:#0066FF;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:59px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:177px;
  width:122px;
  height:59px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:59px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:124px;
  height:59px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:59px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:236px;
  width:122px;
  height:59px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:59px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:236px;
  width:123px;
  height:59px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:59px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:236px;
  width:123px;
  height:59px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:59px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:236px;
  width:122px;
  height:59px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:189px;
  width:217px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:548px;
  width:290px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:603px;
  width:848px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  white-space:nowrap;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:647px;
  width:661px;
  height:260px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:56px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:56px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:103px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:99px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:56px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:0px;
  width:102px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:56px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:0px;
  width:114px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:110px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:56px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:0px;
  width:118px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:56px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:0px;
  width:114px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:110px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:53px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:110px;
  height:53px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:53px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:56px;
  width:103px;
  height:53px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:99px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:53px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:56px;
  width:102px;
  height:53px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:53px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:56px;
  width:114px;
  height:53px;
  color:#0066FF;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:53px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:56px;
  width:118px;
  height:53px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:53px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:56px;
  width:114px;
  height:53px;
  color:#0066FF;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:110px;
  height:50px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:109px;
  width:103px;
  height:50px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:99px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:109px;
  width:102px;
  height:50px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:50px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:109px;
  width:114px;
  height:50px;
  color:#0066FF;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:110px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:50px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:109px;
  width:118px;
  height:50px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:50px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:109px;
  width:114px;
  height:50px;
  color:#0066FF;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:110px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:49px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:159px;
  width:110px;
  height:49px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:49px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:159px;
  width:103px;
  height:49px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:99px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:49px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:159px;
  width:102px;
  height:49px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:49px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:159px;
  width:114px;
  height:49px;
  color:#0066FF;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:110px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:49px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:159px;
  width:118px;
  height:49px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:49px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:159px;
  width:114px;
  height:49px;
  color:#0066FF;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:110px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:52px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:110px;
  height:52px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:52px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:208px;
  width:103px;
  height:52px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:208px;
  width:102px;
  height:52px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:208px;
  width:114px;
  height:52px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:52px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:208px;
  width:118px;
  height:52px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:208px;
  width:114px;
  height:52px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:937px;
  width:289px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:996px;
  width:1164px;
  height:295px;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:65px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:121px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:65px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:108px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:0px;
  width:109px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:65px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:0px;
  width:97px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:65px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:0px;
  width:106px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:0px;
  width:109px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:65px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:0px;
  width:103px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:99px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:65px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:0px;
  width:115px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:111px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:65px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:0px;
  width:106px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:65px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:0px;
  width:92px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:88px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:94px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:62px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:125px;
  height:62px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:121px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:62px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:65px;
  width:108px;
  height:62px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:104px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:62px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:65px;
  width:109px;
  height:62px;
  color:#0066FF;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:105px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:65px;
  width:97px;
  height:62px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:62px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:65px;
  width:106px;
  height:62px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:62px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:65px;
  width:109px;
  height:62px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:65px;
  width:103px;
  height:62px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:62px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:65px;
  width:115px;
  height:62px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:62px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:65px;
  width:106px;
  height:62px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:62px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:65px;
  width:92px;
  height:62px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:88px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:62px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:65px;
  width:94px;
  height:62px;
  color:#0066FF;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:90px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:55px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:127px;
  width:125px;
  height:55px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:121px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:127px;
  width:108px;
  height:55px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:127px;
  width:109px;
  height:55px;
  color:#0066FF;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:127px;
  width:97px;
  height:55px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:127px;
  width:106px;
  height:55px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:127px;
  width:109px;
  height:55px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:55px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:127px;
  width:103px;
  height:55px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:55px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:127px;
  width:115px;
  height:55px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:127px;
  width:106px;
  height:55px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:55px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:127px;
  width:92px;
  height:55px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:55px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:127px;
  width:94px;
  height:55px;
  color:#0066FF;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:55px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:125px;
  height:55px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:121px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:182px;
  width:108px;
  height:55px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:182px;
  width:109px;
  height:55px;
  color:#0066FF;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:55px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:182px;
  width:97px;
  height:55px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:182px;
  width:106px;
  height:55px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:182px;
  width:109px;
  height:55px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:55px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:182px;
  width:103px;
  height:55px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:55px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:182px;
  width:115px;
  height:55px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:182px;
  width:106px;
  height:55px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:55px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:182px;
  width:92px;
  height:55px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:55px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:182px;
  width:94px;
  height:55px;
  color:#0066FF;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:58px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:125px;
  height:58px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:58px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:237px;
  width:108px;
  height:58px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:58px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:237px;
  width:109px;
  height:58px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:58px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:237px;
  width:97px;
  height:58px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:237px;
  width:106px;
  height:58px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:58px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:237px;
  width:109px;
  height:58px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:58px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:237px;
  width:103px;
  height:58px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:58px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:237px;
  width:115px;
  height:58px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:237px;
  width:106px;
  height:58px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:58px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:237px;
  width:92px;
  height:58px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:237px;
  width:94px;
  height:58px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1307px;
  width:854px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  white-space:nowrap;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:368px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:1035px;
  width:5px;
  height:353px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF33;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1388px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF33;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
